/EntityObject.class
/EntityReference.class
/EntityReferenceOfCrittershovVakal.class
/EntityReferenceOfEnergyFlowLinkhovVakal.class
/EntityReferenceOfLinkshovVakal.class
/EntityReferenceOfManipulationBiomassNodehovVakal.class
/EntityReferenceOfManipulationModelhovVakal.class
/EntityReferenceOfManipulationRequesthovVakal.class
/EntityReferenceOfManipulationhovVakal.class
/EntityReferenceOfNetwork3DViewColorshovVakal.class
/EntityReferenceOfNetwork3DViewCtrlSettinghovVakal.class
/EntityReferenceOfNetwork3DViewGLViewInfohovVakal.class
/EntityReferenceOfNetwork3DViewPositionshovVakal.class
/EntityReferenceOfNetwork3DViewSizeInfohovVakal.class
/EntityReferenceOfNetworkshovVakal.class
/EntityReferenceOfNodeshovVakal.class
/EntityReferenceOfTimeserieshovVakal.class
/EntityReferenceOfUserhovVakal.class
/RelatedEnd.class
/StructuralObject.class
